<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Diagnostic Médical</title>
</head>
<body>
    <h1>Formulaire de diagnostic</h1>
    <form method="post" action="/">
        <fieldset>
            <legend>Choisissez vos symptômes :</legend>
            {% for symptom in symptoms %}
                <div>
                    <input type="checkbox" id="{{ symptom }}" name="{{ symptom }}">
                    <label for="{{ symptom }}">
                        {{ symptom.replace("_", " ") | capitalize }}
                    </label>
                </div>
            {% endfor %}
        </fieldset>
        <button type="submit">Diagnostiquer</button>
    </form>
</body>
</html>
